{
  "presets": [["react-app", { "flow": false, "typescript": true }]],
  "plugins": [
    [
      
      "module-resolver",
      {
        "root": [
          "./"
        ],
        "alias": {
          "@primitives": "src/components/primitives",
          "@app/common": "src/components/common",
          "@app/icons": "src/components/icons",
          "@sys/action":"src/system/action",
          "@sys/const":"src/system/constant/constant",
          "@sys/utils":"src/system/constant/utils",
          "@sys/httpCall":["src/system/httpCall"],
          "@sys/privertRoute":["src/system/privertRoute"],
          "@modules/*":["src/modules/*"],
          "@mod/columns":["./src/modules/columns/"],
          "@app/const":["src/constant"],
          "input-component": ["./src/components/formElement"],
          "sys-styled": ["./src/theme/styled"]
        }
      }
    ]
  ]
}